.App {
  font-size: 1.8rem;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
}

.listMapContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 10rem;
}

.ListView {
  top: 0;
  left: 0;
  width: 100%;
}

.list-section {
  width: 100rem;
}

.ListView ul {
  padding: 0;
  list-style-type: none;
  width: 100%;
}

.ListView li {
  margin: 1rem 2rem;
  border-bottom: 1px solid #d8d8d8;
  display: flex;
  justify-content: left;
}

.ListView .divImage {
  width: 150px;
  height: 100px;
  margin-right: 2rem;
  margin-bottom: 1rem;
}

.ListView li img {
  width: 100%;
  height: 100%;
}

.ListView .title {
  padding-bottom: 2rem;
}

.ListView .address {
  color: #808080;
  font-size: 1.5rem;
}

.ListView .timeslots {
  margin-bottom: 1rem;
  color: #808080;
  font-size: 1.5rem;
}

.mapContainer {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  width: 60rem;
  height: 60rem;
}

.marker {
  width: 30px;
  height: 30px;
}

@media only screen and (max-width: 800px) {
  .MapView {
    display: none;
  }
}