html {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  color: #000A23;
}

body {
  margin: 2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}