html {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 4rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}